<ion-header>
  <ion-toolbar>
    <ion-title>films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">  
  <ion-button expand="full" (click)="openDetails()">Go to Details with function</ion-button>  
  <ion-button expand="full" routerLink="/tabs/films/id" routerDirection="forward">Go to Details with link</ion-button>
  <ion-button expand="full" (click)="gotoPeople()">Switch to People</ion-button>   
  <ion-button expand="full" (click)="gotoPlanets()">Switch to Planets</ion-button> 
</ion-content>