<ion-header>
  <ion-toolbar color="secondary">
    <ion-title class="title">films</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <div>
    <ion-button class="films-btn" expand="full" (click)="openDetails()">Go to Details with function</ion-button>  
    <ion-button class="films-btn" expand="full" routerLink="/tabs/films/id" routerDirection="forward">Go to Details with link</ion-button>
    <ion-button class="pages-btn" expand="full" (click)="gotoPeople()">Switch to People</ion-button>   
    <ion-button class="pages-btn" expand="full" (click)="gotoPlanets()">Switch to Planets</ion-button> 
  </div>
</ion-content>