<ion-header>
  <ion-toolbar color="primary">    
    <ion-buttons slot="start">      
      <ion-back-button defaulthref="/tabs/films"></ion-back-button>    
    </ion-buttons>    
    <ion-title>Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container">
    <img src="https://m.media-amazon.com/images/M/MV5BNjM0NTc0NzItM2FlYS00YzEwLWE0YmUtNTA2ZWIzODc2OTgxXkEyXkFqcGdeQXVyNTgwNzIyNzg@._V1_SX300.jpg">
    <div>
      <ion-button [disabled]="clicked" (click)="runHttp() ; clicked = true;">Show details</ion-button>
    </div> 
      <ion-list *ngFor="let content of contents" >
        <h3>Title: {{ content.Title }}</h3>
        <h3>Year: {{ content.Year }}</h3>
        <h3>Rated: {{ content.Rated}}</h3>
        <h3>Released: {{ content.Released }}</h3>
        <h3>Runtime: {{ content.Runtime }}</h3>
        <h3>Genre: {{ content.Genre }}</h3>
        <h3>Director: {{ content.Director }}</h3>
        <h3>Actors: {{ content.Actors }}</h3>
        <h3>Plot: {{ content.Plot }}</h3>
        <h3>Language: {{ content.Language }}</h3>
        <h3>Country: {{ content.Language }}</h3>
        <h3>Awards: {{ content.Awards }}</h3>
        <h3>imdbID: {{ content.imdbID }}</h3>
        <h3></h3>
      </ion-list>
    
  </div>
</ion-content> 